<!DOCTYPE html>
<html>
<head>
	<title>Final Template</title>
<link rel="stylesheet" href="template.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Courgette|Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Courgette|Righteous|Sedgwick+Ave" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amaranth|Boogaloo|Courgette|Righteous|Sedgwick+Ave|Yellowtail" rel="stylesheet">





	</head>
<body>
	<!-- start header-->
  <header>
   <nav>	  
	 <div class="containt">
		 <h2>LOGO</h2>
		 <ul>
			 <li> <a href="#">Home</a></li> 
			 <li><a href="#about">About</a></li> 
			 <li> <a href="#member">Member</a></li> 
	         <li><a href="#">Contact</a> </li>
         </ul>
	 </div>

   </nav>
	  <article>
	  	   <h1>Computer Science</h1> 
	</article>
	  </header>
	<!--End header-->
	
	<!--Start about-->
	<section id="about">
	  <div class="us">
	  	  <h1>About Us</h1>
      <article class="phara">
	    <p>
I'm a paragraph. Click here to add your own text and edit me. It’s easy.<br> Just click “Edit Text” or double click me to add your own content and<br> make changes to the font. Feel free to drag and drop me anywhere<br> you like on your page. I’m a great place for you to tell a story and let<br> your users know a little more about you.</p>
		  <br>
		   <br>
		  <p>This is a great space to write long text about your<br> company and your services. You can use this space to go into a little more <br> your company. Talk about your team and what services you provide.<br> Tell your visitors the story of how you came up with the idea for<br> your business and what makes you different from your competitors. Make<br> your company stand out and show your visitors who you are.</p>
	  </article>
	  </div>
	</section>
	<!--End about-->
	
	<!-- start memeber-->
	 <section id="member">
		<h1>member</h1>
	    <div class="item1">
		  <img src="image/item1.jpg"> 
		  <article class="it1">
	        <h2>Jana fature</h2>
			<p>This is a great space to write long text about your<br> company and your services. You can use this space to go into a little more </p>
		  </article>
		</div>
		<div class="item2">
			<img src="image/item2.png">
		   <article class="it2">
	        <h2>Micheal Beaber</h2>
			<p>This is a great space to write long text about your<br> company and your services. You can use this space to go into a little more </p>
		  </article>
		</div>
		 
		<div class="item3">
		 <img src="image/item3.jpg">
		 <article class="it3">
	        <h2>Aseal Beaber</h2>
			<p>This is a great space to write long text about your<br> company and your services. You can use this space to go into a little more </p>
			</article>
		</div>
	    <div class="item4">
		  <img src="image/item4.jpg">
			<article class="it4">
	        <h2>Basem Beaber</h2>
			<p>This is a great space to write long text about your<br> company and your services. You can use this space to go into a little more </p>
			</article>
		</div>
	 </section>
	<!--End member-->
	
	<!-- Start product-->
	<!-- <section id="product">
		 <article class="our">
		
		  <h1>our products</h1>
		  <p>I'm a paragraph. Click here to add your own text and edit me.<br> Let your users get to know you.</p>	 
		 </article>
	   <div class="pro1">
		<img src="image/bottom.jpg" id="myImg">
	   </div>	 
	   <div class="pro2"></div>	 
	   <div class="pro3"></div>	 

	
	 </section>
	<!--End product-->-->
<script src="template.js"></script>	
</body>
</html>